

.input{
    max-width: 300px;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
}
.Accept-btn {
    background-color: deepskyblue;
    display: block;
    margin: 20px auto;
    padding: 8px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    
 

}
.main-box {
    font-style: normal;
    border: 2px solid;
    width: 300px;
    background-color: aliceblue;

}